﻿@model IEnumerable<PhoneBook.Plarform.Entity.Contact>
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Country.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emails)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Country.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phones.FirstOrDefault().Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emails.FirstOrDefault().EmailAddress)
            </td>
            @*<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
        </tr>
        }
    </tbody>
</table>
