﻿
@{
    ViewData["Title"] = "АДМИНИСТРИРОВАНИЕ";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <h2>Задачи</h2>
        <ul>
            <li><a href="Countries/Index" title="Таблица Countries">01. Управление списком стран</a></li>
            <li><a href="Cities/Index" title="Таблица Cities">02. Управление списком городов</a></li>           
            <li><a href="Contacts/Index" title="Таблица Contacts">03. Управление списком контактов</a></li>
            <li><a href="Phones/Index" title="Таблица Phones">04. Управление списком телефонов</a></li>
            <li><a href="Emails/Index" title="Таблица Emails">05. Управление списком электронных адресов</a></li>                        
        </ul>
    </div>
</div>
