﻿@model PhoneBook.Plarform.Entity.Contact
@using PhoneBook.Plarform.Entity;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <table class="table">
        <tr>
            <td align="center" valign="middle"> &nbsp; <h4>Номера</h4> &nbsp;</td>
        </tr>
        <tbody>
            @foreach (var phone in (List<Phone>)ViewBag.phonesList)
            {
                <tr>
                    <td align="center">
                        &nbsp; @Html.DisplayFor(phoneNumber => phone.Number) &nbsp;
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <table class="table">
        <tr>
            <td align="center" valign="middle"> &nbsp; <h4>Адреса</h4> &nbsp;</td>
        </tr>
        <tbody>
            @foreach (var email in (List<Email>)ViewBag.emailsList)
            {
                <tr>
                    <td align="center">
                        &nbsp; @Html.DisplayFor(emailAddress => email.EmailAddress) &nbsp;
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


